<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board list</title>
    <link rel="stylesheet" th:href="@{/board.css}">
</head>
<body>
<h1>Board List</h1>
<table th:if="${!boardList.empty}">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Title</th>
        <th>Created At</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boardList}">
        <td th:text="${board.id}"></td>
        <td>
            <a th:href="@{/view(id=${board.id})}" th:text="${board.name}"></a>
        </td>
        <td th:text="${board.title}"></td>
        <td th:text="${#temporals.format(board.createdAt, 'yyyy/MM/dd')}"></td>
    </tr>
    </tbody>
</table>
<div th:if="${boardList.totalPages > 1}">
    <ul>
        <li th:each="i : ${#numbers.sequence(1, boardList.totalPages)}">
            <a th:href="@{/board(page=${i})}" th:text="${i}"  ></a>
        </li>
    </ul>
</div>

<a th:href="@{/writeform}">게시글 등록</a>
</body>
</html>