<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시글 조회 페이지</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    .container {
      margin-top: 50px;
    }
    .btn-group {
      margin-top: 15px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" th:text="${board.title}">제목</h3>
    </div>
    <div class="panel-body">
      <p><strong>Name:</strong> <span th:text="${board.name}">이름</span></p>
      <p><strong>Content:</strong> <span th:text="${board.content}">내용</span></p>
      <p><strong>Created At:</strong> <span th:text="${#temporals.format(board.createdAt, 'yyyy/MM/dd HH:mm')}">작성 시간</span></p>
    </div>
    <div class="panel-footer">
      <div class="btn-group">
        <a class="btn btn-default" th:href="@{/list}">List</a>
        <a class="btn btn-primary" th:href="@{/updateform(id=${board.id})}">Edit</a>
        <a class="btn btn-danger" th:href="@{/deleteform(id=${board.id})}">Delete</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
